# Mes débuts en Python

## Interpreteur python actif

In [1]:
print("Hello, bienvenus dans le monde de Python")

Hello, bienvenus dans le monde de Python

## Manipulation de nombres

In [2]:
a = 2+2
print(a)
print(type(a))

4
<class 'int'>

In [3]:
a = a/5
print(a)
print(type(a))

0.8
<class 'float'>

In [4]:
5 * 3 + 2

17

In [5]:
17 // 3

5

In [6]:
17 % 3

2

In [7]:
5**2

25

## Manipulation de chaines de caractères

Utilisation des guillemets simples ou doubles '' ou ""

In [8]:
"Tout va bien"

'Tout va bien'

In [9]:
'Tout va bien'

'Tout va bien'

In [10]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

https://docs.python.org/fr/3/library/stdtypes.html#string-methods

## Listes

### Création d'une liste

Utilisation de [ ]

In [11]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

### Accès par index
Les chaines de caractères sont immuables au contraire des listes

In [12]:
squares[1] = 3
squares

[1, 3, 9, 16, 25]

In [13]:
squares[1]

3

In [14]:
squares[-1]

25

### Parcourir une liste

In [15]:
for elem in squares:
    print(elem)

1
3
9
16
25

https://docs.python.org/3/tutorial/datastructures.html

## Les dictionnaires

### Création d'un dictionnaire
Utilisation de {}

In [16]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

### Accès par clé

In [17]:
MLB_team['Boston']

'Red Sox'

### Parcourir un dictionnaire

In [18]:
for cle, val in MLB_team.items():
    print(cle+":"+val)

Colorado:Rockies
Boston:Red Sox
Minnesota:Twins
Milwaukee:Brewers
Seattle:Mariners

# Boucles

## Boucle bornée

In [19]:
for i in [0, 1, 2, 3]:
    print("i a pour valeur", i)

i a pour valeur 0
i a pour valeur 1
i a pour valeur 2
i a pour valeur 3

## Boucle non bornée

In [20]:
x = 1
while x < 10:
    print("x a pour valeur", x)
    x = x * 2
print("Fin")

x a pour valeur 1
x a pour valeur 2
x a pour valeur 4
x a pour valeur 8
Fin

# Fonctions
## Définition

In [21]:
def carre(valeur):
    resultat = valeur**2
    return resultat

def cube(valeur):
    resultat = valeur**3
    return resultat

In [22]:
carre(2)

4

In [23]:
cube(2)

8

## Module

In [24]:
import pandas as pd

import du module pandas avec toutes les fonctions et utilisation d'un alias pd

# Chargement des données de prix

## Code brut

### Lecture des fichiers Excel

Chargement des données à partir de https://www.data.gouv.fr/fr/datasets/demandes-de-valeurs-foncieres-geolocalisees/ en prenant le 1er semestre 2022 et l'année 2021

In [25]:
# lecture du fichier excel
df_2022 = pd.read_csv('C:/Users/antho/Documents/GitHub/Git/Predict_Immo/input/AvecCoordonneesGeo/full.csv', delimiter = ',', low_memory = False)
print("taille du jeu de donnees :", df_2022.shape)

taille du jeu de donnees : (1429093, 40)

In [26]:
df_2022.head(5)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2022-1,2022-01-03,1,Vente,55000.0,13.0,NaN,RUE DE LA LIBERTE,2280,1000.0,...,Appartement,24.0,1.0,NaN,NaN,NaN,NaN,NaN,5.218706,46.198054
1,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,84.0,4.847867,46.000617
2,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,88.0,4.847920,46.000576
3,2022-2,2022-01-03,1,Vente,143000.0,98.0,NaN,RTE DE LA DOMBES,0055,1480.0,...,Appartement,140.0,3.0,NaN,NaN,NaN,NaN,NaN,4.848345,46.000585
4,2022-3,2022-01-04,1,Vente,300.0,NaN,NaN,AUX PIERRES,B031,1480.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,510.0,4.747627,46.045434

In [27]:
# lecture du fichier excel
df_2021 = pd.read_csv('C:/Users/antho/Documents/GitHub/Git/Predict_Immo/input/AvecCoordonneesGeo/full2021.csv', delimiter = ',', low_memory = False)
print("taille du jeu de donnees :", df_2021.shape)

taille du jeu de donnees : (4375223, 40)

### Concaténation des données

In [28]:
df = pd.concat([df_2022,df_2021])

In [29]:
print("taille du jeu de donnees :", df.shape)

taille du jeu de donnees : (5804316, 40)

### Réduction aux données du 75

In [30]:
numDep = '75'
df['code_departement'].astype(str)
# Création d'une colonne booléenne permettant de savoir si le code département correspond au 75
df['Validation'] = (df['code_departement'] == numDep )
# Réduction de l'ensemble de départ lorsque l'égalité est vraie
dfDep = df[df['Validation']==True]
# Suppression de la variable de travail précédemment créé
dfDep = dfDep.drop('Validation', axis=1)
print("Departement : {0}".format(numDep))
print("Taille du jeu de donnees", dfDep.shape)

Departement : 75
Taille du jeu de donnees (130696, 40)

## Un code plus modulaire

In [31]:
# Fonction pour lire les donnnées en fonction du fichier
def ReadFile(nomFile, delimiter = '|'):
    # lecture du fichier excel
    df = pd.read_csv(nomFile, delimiter = delimiter, low_memory = False)
    print("taille du jeu de donnees :", df.shape)
    return df

In [32]:
# Fonction pour extraire les données à partir d'un numéro de département
def ExtractDepartement(df, numDep):
    df['code_departement'].astype(str)
    df['Validation'] = (df['code_departement'] == numDep )
    dfDep = df[df['Validation']==True]
    dfDep = dfDep.drop('Validation', axis=1)
    print("Departement : {0}".format(numDep))
    print("Taille du jeu de donnees", dfDep.shape)
    return dfDep

In [ ]:
df_2022 = ReadFile("../input/AvecCoordonneesGeo/full.csv", ',')
df_75_2022 = ExtractDepartement(df_2022, '75')
df_2021 = ReadFile("../input/AvecCoordonneesGeo/full2021.csv", ',')
df_75_2021 = ExtractDepartement(df_2021, '75')
dfDep = pd.concat([df_75_2022,df_75_2021])
print("Departement : {0}".format(numDep))
print("Taille du jeu de donnees", dfDep.shape)

taille du jeu de donnees : (1429093, 40)
Departement : 75
Taille du jeu de donnees (49372, 40)

# Un peu de pandas

## Equivalent du Select en SQL

*SELECT valeur_fonciere, surface_reelle_bati FROM TData*

In [ ]:
col_list = ['valeur_fonciere', 'surface_reelle_bati']
df[col_list]

## Select avec une clause WHERE
*SELECT valeur_fonciere, surface_reelle_bati FROM TData 
WHERE valeur_fonciere > 50000 AND surface_réelle_bati < 100*

In [ ]:
valeur_fonciere_mask = df['valeur_fonciere'] > 50000 
surface_réelle_bati_mask = df['surface_reelle_bati'] < 100
df.loc[ valeur_fonciere_mask & surface_réelle_bati_mask, col_list]

## Tri des résultas par rapport aux valeurs des colonnes
*SELECT valeur_fonciere, surface_reelle_bati FROM TData 
WHERE valeur_fonciere > 50000 AND surface_réelle_bati < 100
ORDER BY valeur_fonciere DESC, surface_réelle_bati*

In [ ]:
df.sort_values(['valeur_fonciere', 'surface_reelle_bati'], ascending = [False, True])

## Limitation aux 10 premiers résultats
*SELECT valeur_fonciere, surface_reelle_bati FROM TData 
WHERE valeur_fonciere > 50000 AND surface_réelle_bati < 100
ORDER BY valeur_fonciere DESC, surface_réelle_bati
LIMIT 10*

In [ ]:
df.sort_values(['valeur_fonciere', 'surface_reelle_bati'], ascending = [False, True]).head(10)

## Equivalent du groupby
*SELECT MEAN(valeur_fonciere) FROM TData 
GROUP BY nom_commune*

In [ ]:
df[['valeur_fonciere','nom_commune']].groupby(by=['nom_commune']).mean()

## Union et jointure

In [ ]:
df1 = pd.DataFrame({'A': [3, 5], 'B': [1, 2]}, index = [0, 1])
df2 = pd.DataFrame({'A': [6, 7], 'B': [4, 9]}, index = [2, 3])
pd.concat([df1, df2])

In [ ]:
df1 = pd.DataFrame({'A': [3, 5], 'B': [1, 2]}) 
df2 = pd.DataFrame({'A': [5, 3, 7], 'C': [9, 2, 0]}) 
pd.merge(df1, df2)