# Mes débuts en Python

## Interpreteur python actif

In [3]:
print("Hello, bienvenus dans le monde de Python")

Hello, bienvenu dans le monde de Python

## Manipulation de nombres

In [ ]:
a = 2+2
print(a)

In [10]:
b = a/5
print(b)

0.8

In [13]:
5 * 3 + 2

17

In [11]:
17 // 3

5

In [12]:
17 % 3

2

In [15]:
5**2

25

## Manipulation de chaines de caractères

Utilisation des guillemets simples ou doubles '' ou ""

In [16]:
"Tout va bien"

'Tout va bien'

In [17]:
'Tout va bien'

'Tout va bien'

In [20]:
s = 'supercalifragilisticexpialidocious'
len(s)

34

https://docs.python.org/fr/3/library/stdtypes.html#string-methods

## Listes

### Création d'une liste

Utilisation de [ ]

In [21]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

### Accès par index
Les chaines de caractères sont immuables au contraire des listes

In [ ]:
squares[1] = 3
squares

In [27]:
squares[0]

1

In [28]:
squares[-1]

25

### Parcourir une liste

In [24]:
for elem in squares:
    print(elem)

1
3
9
16
25

https://docs.python.org/3/tutorial/datastructures.html

## Les dictionnaires

### Création d'un dictionnaire
Utilisation de {}

In [25]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

### Accès par clé

In [34]:
MLB_team['Boston']

'Red Sox'

### Parcourir un dictionnaire

In [33]:
for cle, val in MLB_team.items():
    print(cle+":"+val)

Colorado:Rockies
Boston:Red Sox
Minnesota:Twins
Milwaukee:Brewers
Seattle:Mariners

# Boucles

## Boucle bornée

In [35]:
for i in [0, 1, 2, 3]:
    print("i a pour valeur", i)

i a pour valeur 0
i a pour valeur 1
i a pour valeur 2
i a pour valeur 3

## Boucle non bornée

In [36]:
x = 1
while x < 10:
    print("x a pour valeur", x)
    x = x * 2
print("Fin")

x a pour valeur 1
x a pour valeur 2
x a pour valeur 4
x a pour valeur 8
Fin

# Fonctions
## Définition

In [37]:
def carre(valeur):
    resultat = valeur**2
    return resultat

def cube(valeur):
    resultat = valeur**3
    return resultat

In [38]:
carre(2)

4

In [39]:
cube(2)

8

## Module

In [40]:
import pandas as pd

import du module pandas avec toutes les fonctions et utilisation d'un alias pd

# Chargement des données de prix

## Code brut

### Lecture des fichiers Excel

In [44]:
# lecture du fichier excel
df_2022 = pd.read_csv('C:/Users/antho/Documents/GitHub/Git/Predict_Immo/input/AvecCoordonneesGeo/full.csv', delimiter = ',', low_memory = False)
print("taille du jeu de donnees :", df_2022.shape)

taille du jeu de donnees : (1429093, 40)

In [48]:
df_2022.head(5)

,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,code_postal,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,2022-1,2022-01-03,1,Vente,55000.0,13.0,NaN,RUE DE LA LIBERTE,2280,1000.0,...,Appartement,24.0,1.0,NaN,NaN,NaN,NaN,NaN,5.218706,46.198054
1,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,84.0,4.847867,46.000617
2,2022-2,2022-01-03,1,Vente,143000.0,NaN,NaN,CHAMP COCHET,B010,1480.0,...,NaN,NaN,NaN,S,sols,NaN,NaN,88.0,4.847920,46.000576
3,2022-2,2022-01-03,1,Vente,143000.0,98.0,NaN,RTE DE LA DOMBES,0055,1480.0,...,Appartement,140.0,3.0,NaN,NaN,NaN,NaN,NaN,4.848345,46.000585
4,2022-3,2022-01-04,1,Vente,300.0,NaN,NaN,AUX PIERRES,B031,1480.0,...,NaN,NaN,NaN,T,terres,NaN,NaN,510.0,4.747627,46.045434

In [45]:
# lecture du fichier excel
df_2021 = pd.read_csv('C:/Users/antho/Documents/GitHub/Git/Predict_Immo/input/AvecCoordonneesGeo/full2021.csv', delimiter = ',', low_memory = False)
print("taille du jeu de donnees :", df_2021.shape)

taille du jeu de donnees : (1429093, 40)

### Concaténation des données

In [47]:
df = pd.concat([df_2022,df_2021])

In [50]:
print("taille du jeu de donnees :", df.shape)

taille du jeu de donnees : (5804316, 41)

### Réduction aux données du 75

In [49]:
numDep = '75'
df['code_departement'].astype(str)
# Création d'une colonne booléenne permettant de savoir si le code département correspond au 75
df['Validation'] = (df['code_departement'] == numDep )
# Réduction de l'ensemble de départ lorsque l'égalité est vraie
dfDep = df[df['Validation']==True]
# Suppression de la variable de travail précédemment créé
dfDep = dfDep.drop('Validation', axis=1)
print("Departement : {0}".format(numDep))
print("Taille du jeu de donnees", dfDep.shape)

Departement : 75
Taille du jeu de donnees (130696, 40)

## Un code plus modulaire

In [53]:
# Fonction pour lire les donnnées en fonction du fichier
def ReadFile(nomFile, delimiter = '|'):
    # lecture du fichier excel
    df = pd.read_csv(nomFile, delimiter = delimiter, low_memory = False)
    print("taille du jeu de donnees :", df.shape)
    return df

In [54]:
# Fonction pour extraire les données à partir d'un numéro de département
def ExtractDepartement(df, numDep):
    df['code_departement'].astype(str)
    df['Validation'] = (df['code_departement'] == numDep )
    dfDep = df[df['Validation']==True]
    dfDep = dfDep.drop('Validation', axis=1)
    print("Departement : {0}".format(numDep))
    print("Taille du jeu de donnees", dfDep.shape)
    return dfDep

In [ ]:
df1 = ReadFile("../input/AvecCoordonneesGeo/full.csv", ',')